/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #ebe7e7;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/




* {
    text-decoration: none;
}

main {
    padding-top: 100px;
}

body {
    background-color: rgb(228, 224, 224);
}

header {
     position: fixed;
     top: 0px;
     right: 0px;
     left: 0px;
     background-color: white;
     width: 100%;
     height: 100px;
    
}

header .header-brand{
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: rgb(19, 18, 18);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}

header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;

}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 16px;
}


header nav ul a {
    font-family: Catamaran;
    font-size: 24px;
    color: rgb(19, 18, 18);
    text-transform: uppercase;
}

header .header-cases{
    display: none;
}

/*INDEX*/

.index-banner {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('img/study.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.vertical-center{
    display: table-cell;
    vertical-align: middle;
    
}



.index-banner h2 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    color: rgb(247, 244, 244);
    text-align: center;
    text-shadow: 2px 2px 8px #111;
}

@media only screen and (min-width: 1000px) {
  header  .header-brand {
        margin: 31px 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px;
        border-right: 3px solid #111;
        float: left;
    }
    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    
    header nav ul a {
        line-height: 60px;

    }

    header .header-cases{
        display: block;
        font-family: Catamaran;
        font-size: 24px;
        color: rgb(19, 18, 18);
        text-transform: uppercase;
        line-height: 60px;
        border: 1px solid #111;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }

}


.index-banner h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: 100;
    font-style: italic ;
    line-height: 60px;
    color: rgb(199, 196, 196);
    text-align: center;
    text-shadow: 2px 2px 8px #111;

}

.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
    background-color: white;
}

.index-links div h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 26px;
    font-weight: lighter;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;
    
}

/*cases*/
.cases-links h2 {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: rgb(19, 18, 18);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 20px 20px ;

}

/*FOOTER*/

/*footer {
    width: calc(100 - 80px);
    padding: 40px 40px;
    background-color: #111;
}*/


/*class12 start*/
.container {
width: 100%;
height: 100%;
padding: 20px 20px 20px;
}

/*class12 end*/

/*About start*/

.about-1 h2 {
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: rgb(202, 141, 184);
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 20px 20px ;
    font-style: italic;
}